<footer class="footer-outer">
  <div class="footer-inner responsive-wrapper">
    <div class="footer-cell-one-third">
      <a href="/{{locale}}" class="footer-logo"
        role="img" aria-label="{{i18n.header_footer[locale].home}}">
        <img src="/assets/img/hestialabs-logo+text-inverted.svg"
          onerror="this.onerror=null; this.src='/assets/img/hestialabs-logo+text-inverted.export-390x147.png'"
          height="72" width="191" alt="‹HestiaLabs› logo">
      </a>
    </div>
    <div class="footer-cell-two-thirds">
      <nav class="footer-navigation">
        {% ilink page, "media", locale %}{{i18n.header_footer[locale].media}}{% endilink %}
        {% ilink page, "legal", locale %}{{i18n.header_footer[locale].legal}}{% endilink %}
        {% ilink page, "about", locale %}{{i18n.header_footer[locale].about}}{% endilink %}
        {% ilink page, "about/#contact", locale %}{{i18n.header_footer[locale].contact}}{% endilink %}
      </nav>
      <nav class="footer-navigation">
        {% if links.twitter_url %}
          <a href="{{links.twitter_url}}"  rel="nofollow noopener">{{links.twitter_label}}</a>
        {% endif %}
        {% if links.linkedin_url %}
           <a href="{{links.linkedin_url}}" rel="nofollow noopener">{{links.linkedin_label}}</a>
        {% endif %}
        {% if links.facebook_url %}
           <a href="{{links.facebook_url}}" rel="nofollow noopener">{{links.facebook_label}}</a>
        {% endif %}
        {% for link in links.additional_links %}
          <a href="{{link.url}}" rel="nofollow noopener">{{link.name}}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
</footer>
