<header class="header-outer">
  <div class="header-inner responsive-wrapper">
    <div class="header-cell-one-third">
      <a href="/{{locale}}" class="header-logo"
        role="img" aria-label="{{i18n.header_footer[locale].home}}">
        <img src="/assets/img/hestialabs-logo+text.svg"
          onerror="this.onerror=null; this.src='/assets/img/hestialabs-logo+text.export-390x147.png'"
          height="46" width="122" alt="HestiaLabs logo">
      </a>
    </div>
    <div class="header-cell-two-thirds">
      <nav class="header-navigation">
        {% ilink page, "blog", locale %}{{i18n.header_footer[locale].blog}}{% endilink %}
        {% ilink page, "strategy", locale %}{{i18n.header_footer[locale].strategy}}{% endilink %}
        {% ilink page, "projects", locale %}{{i18n.header_footer[locale].projects}}{% endilink %}
        {% ilink page, "partners", locale %}{{i18n.header_footer[locale].partners}}{% endilink %}
        {% for translation in translations %}
          {% ilink page, translation.page.url %}{{translation.locale}}{% endilink %}
        {% endfor %}
      </nav>
    </div>
  </div>
</header>
